# === BẢO MẬT TÀI KHOẢN ===
# Bỏ qua file cấu hình chứa mật khẩu DB, Mail, Google Keys
/source/CodeCampus/src/main/resources/application.properties

# === FILE HỆ THỐNG VÀ BUILD ===
/target/
/.idea/
*.iml
*.log
/src/main/resources/static/avatars/
